@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button:-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	font-family: "Titillium Web";
	height: 100%;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.title {
	font-size: 40px;
	line-height: 29px;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #ffffff;
	text-align: center;
}

.subtitle {
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	letter-spacing: 0.02em;
	text-align: center;
}

.title_2 {
	font-size: 24px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}

.subtitle_2 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 0.02em;
}

.position {
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.02em;
	color: #30bae7;
}

.line {
	width: 87px;
	height: 4px;
	opacity: 0.14;
	margin: 0 auto;
	background-color: #000000;
}

.f {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	padding: 5px;
}

.twitter {
	padding: 8px 3px 5px 4px;
}

.in {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	padding: 4px;
}

.mail {
	padding: 9px 4px 5px 4px;
}

.portfolio_style {
	font-size: 18px;
	line-height: 19px;
	font-weight: 400;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #393939;
	text-align: center;
}

.button {
	padding: 21.5px 80.7px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 600;
	letter-spacing: 0.02em;
	color: #ffffff;
	border-radius: 5px;
}

/*input::-webkit-input-placeholder { color: white; }
input::-moz-placeholder { color: white; }*/
.main {
	height: 600px;
	background-color: #87509c;
}

.main .main_header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
}

.main .main__logo {
	font-size: 35px;
	padding: 55px 0 0 0;
	font-family: "Gravitas One", cursive;
	color: #fff;
}

.main .nav__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 15px;
	padding: 60px 0 0 0;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	margin: 0 0 0 auto;
}

.main .nav__list a:hover {
	background-color: #643a79;
	border-radius: 5px;
}

.main .nav__list a:link {
	font-size: 16px;
	color: #fff;
}

.main .nav__list a:visited {
	font-size: 16px;
	color: #fff;
}

.main .nav__list a:hover {
	font-size: 16px;
	color: #fff;
}

.main .nav_link {
	width: 77px;
	height: 32px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.main .nav_link:hover {
	-webkit-transform: scale3d(1.2, 1.2, 1.2);
	transform: scale3d(1.2, 1.2, 1.2);
	-webkit-transition: 0.7s;
	transition: 0.7s;
}

.main .main__block {
	text-align: center;
}

.main .main__text {
	font-size: 42.2px;
	line-height: 48px;
	font-weight: 700;
	color: #f7f3ea;
	margin: 130px 0 75px 0;
}

@media (max-width: 788px) {
	.main .main__text {
		margin: 100px 0 75px 0;
	}
}

@media (max-width: 594px) {
	.main .main__text {
		margin: 70px 0 75px 0;
	}
}

.main__button {
	background-color: #eb7d4b;
	-webkit-box-shadow: 0px 5px 2px 0px #c86a40;
	box-shadow: 0px 5px 2px 0px #c86a40;
}

.main__button:hover {
	background-color: #c86a40;
	-webkit-box-shadow: 0px 5px 2px 0px #A25F2A;
	box-shadow: 0px 5px 2px 0px #A25F2A;
}

.services {
	background-color: #17c2a4;
	padding-bottom: 125px;
}

.services__title {
	padding: 120px 0 21px 0;
}

.services__text {
	color: #fff;
	padding: 23px 0 80px 0;
}

.services__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.services__column {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 18%;
	flex: 0 1 18%;
	margin: 0 auto;
	text-align: center;
}

.services__image {
	margin: 0 auto;
	width: 150px;
	height: 120px;
}

.services__image img {
	max-width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.services__title {
	color: #fff;
}

.services__subtitle {
	color: #fff;
}

.team {
	padding: 50px 0;
	background-color: #e7f1f8;
}

.team .title {
	font-size: 41.3px;
	line-height: 30px;
	color: #3c4761;
}

.team .title {
	padding: 70px 0 21px 0;
}

.team .title_2 {
	padding: 0 0 15px 0;
}

.team .team__text {
	padding: 23px 0 80px 0;
	font-size: 18.6px;
	line-height: 26px;
	letter-spacing: 0.02em;
	color: #3c4761;
}

.team .team__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 80px;
	text-align: center;
}

.team .team__row .team__column {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 18%;
	flex: 0 1 18%;
}

.team .team__row .team__column .team__image {
	margin: 0 0 40px 0;
}

.team .team__row .team__column .team__image img {
	max-width: 100%;
}

.team .team__row .team__column .team__subtitle.subtitle_2 {
	margin: 15px 0 30px 0;
}

.team .team__row .team__column .team__row_links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 15px;
}

.team .team__row .team__column .team__row_links .team__items {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #bdd1df;
	margin: 0 8px;
}

.team .team__row .team__column .team__row_links .team__items:hover {
	-webkit-transform: scale3d(1.2, 1.2, 1.2);
	transform: scale3d(1.2, 1.2, 1.2);
	-webkit-transition: 0.7s;
	transition: 0.7s;
}

.team .team__row .team__column .team__row_links_2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 40px;
}

.team .team__row .team__column .team__row_links_2 .team__items {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #bdd1df;
	margin: 0 8px;
}

.team .team__row .team__column .team__row_links_2 .team__items:hover {
	-webkit-transform: scale3d(1.2, 1.2, 1.2);
	transform: scale3d(1.2, 1.2, 1.2);
	-webkit-transition: 0.7s;
	transition: 0.7s;
}

.skills {
	background-color: #ffffff;
}

.skills .title {
	padding: 120px 0 21px 0;
	color: #3c4761;
}

.skills .skills__text {
	padding: 23px 0 80px 0;
	font-size: 18.6px;
	color: #3c4761;
	max-width: 590px;
	margin: 0 auto;
}

.skills .skill__columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 115px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.skills .columns__column {
	text-align: center;
	padding-bottom: 122px;
}

.skills .web {
	position: relative;
}

.skills .web::after {
	content: "";
	background: url("../img/skills/90.png") 0 0 no-repeat;
	width: 74px;
	height: 35px;
	right: 24%;
	bottom: 41%;
	position: absolute;
}

.skills .html {
	position: relative;
}

.skills .html::after {
	content: "";
	background: url("../img/skills/85.png") 0 0 no-repeat;
	width: 74px;
	height: 35px;
	right: 24%;
	bottom: 41%;
	position: absolute;
}

.skills .graphic {
	position: relative;
}

.skills .graphic::after {
	content: "";
	background: url("../img/skills/70.png") 0 0 no-repeat;
	width: 74px;
	height: 35px;
	right: 26%;
	bottom: 41%;
	position: absolute;
}

.skills .ui {
	position: relative;
}

.skills .ui::after {
	content: "";
	background: url("../img/skills/75.png") 0 0 no-repeat;
	width: 74px;
	height: 35px;
	right: 23%;
	bottom: 40%;
	position: absolute;
}

.skills .column__text {
	text-align: center;
	padding-top: 32px;
	color: #3c4761;
}

.portfolio {
	background-color: #ffdd99;
}

.portfolio__title {
	color: #393939;
	padding: 120px 0 21px 0;
}

.portfolio__subtitle {
	padding: 23px 0 40px 0;
	max-width: 590px;
	margin: 0 auto;
}

.portfolio__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 10px;
	padding-bottom: 60px;
}

.portfolio__link {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 85px;
	height: 40px;
	background-color: #ebcc8d;
	border-radius: 5px;
}

.portfolio__link:hover {
	background-color: #fff;
}

.portfolio__row {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 15px 1fr;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}

@media (max-width: 1228px) {
	.portfolio__row {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 15px 1fr;
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
		text-align: center;
	}
}

@media (max-width: 940px) {
	.portfolio__row {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		grid-template-columns: repeat(1, 1fr);
		gap: 15px;
		text-align: center;
	}
}

.portfolio__columns {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.portfolio .columns__text {
	padding-top: 32px;
	padding-bottom: 65px;
}

.portfolio img {
	max-width: 100%;
}

.portfolio__block {
	text-align: center;
	padding-bottom: 110px;
}

.portfolio__button {
	padding: 21.5px 55.29px;
	background-color: #17c2a4;
	-webkit-box-shadow: 0px 5px 2px 0px #158078;
	box-shadow: 0px 5px 2px 0px #158078;
}

.portfolio__button:hover {
	background-color: #158078;
	-webkit-box-shadow: 0px 5px 2px 0px #004953;
	box-shadow: 0px 5px 2px 0px #004953;
}

.about {
	background-color: #d74680;
	padding-top: 120px;
}

.about__title {
	padding-bottom: 21px;
}

.about__text {
	padding-top: 23px;
	padding-bottom: 72px;
	color: #ffffff;
}

.about__row {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

@media (max-width: 780px) {
	.about__row {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		grid-template-columns: repeat(1, 1fr);
		-ms-grid-row-align: center;
		align-self: center;
		-ms-grid-column-align: center;
		justify-self: center;
		gap: 15px;
		text-align: center;
	}
}

.about .column__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.about img {
	margin: 0 48px 0 0;
}

.about .columns__column {
	padding-bottom: 145px;
}

.about .columns__column:nth-child(3) {
	padding-bottom: 130px;
}

.about .columns__column:nth-child(4) {
	padding-bottom: 130px;
}

@media (max-width: 780px) {
	.about .columns__column {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.about .info__text {
	max-width: 380px;
	font-size: 21px;
	line-height: 31px;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.about .info__who {
	padding-top: 30px;
	padding-bottom: 8px;
	color: white;
}

.about .info__position {
	color: #ffdd99;
}

.form {
	background-color: #3c5499;
	padding-top: 120px;
}

.form .container__form {
	padding-left: 10px;
	padding-right: 10px;
	max-width: 890px;
	margin: 0 auto;
}

.form__title {
	padding-bottom: 20px;
}

.form__text {
	padding-top: 23px;
	padding-bottom: 75px;
	color: #ffffff;
}

.form .forms {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 32px;
}

@media (max-width: 700px) {
	.form .forms {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.form .forms__message {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.form .name {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	padding-left: 15px;
	color: #ffffff;
	width: 414px;
	height: 56px;
	background-color: #273a71;
	border-radius: 4px;
}

.form .email {
	padding-top: 17px;
	padding-left: 15px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	width: 860px;
	height: 200px;
	background-color: #273a71;
	margin-top: 25px;
	margin-bottom: 60px;
	border-radius: 4px;
}

.form__block {
	text-align: center;
	padding-bottom: 115px;
}

.form__button {
	padding: 21.5px 82.46px;
	background-color: #30bae7;
	-webkit-box-shadow: 0px 5px 2px 0px #4285B4;
	box-shadow: 0px 5px 2px 0px #4285B4;
}

.form__button:hover {
	background-color: #4285B4;
	-webkit-box-shadow: 0px 5px 2px 0px #3E5F8A;
	box-shadow: 0px 5px 2px 0px #3E5F8A;
}

.footer {
	background-color: #344b8e;
	padding-top: 48px;
}

.footer__nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom: 44px;
	gap: 56px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.footer__nav .nav__link {
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.footer__nav .nav__link:hover {
	color: #30bae7;
}